@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER*/

.header{
    background-image: url("/public/assets/headerBackground.svg");
    background-position: center;
    background-size: cover;
}

/*UPCOMING EVENTS SLIDER*/

