@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER*/

.header{
    background-image: url("/public/assets/headerBackground.svg");
    background-position: center;
    background-size: cover;
}

/*UPCOMING EVENTS SLIDER*/

.cloud-effect{
    width: 16.5rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left bottom,#F7F8FB 5%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0.3) 70%,rgba(255,255,255,0.1) 70%,rgba(255,255,255,0) 90%);
    z-index: 10;

}